{
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": ["*.inc", "*.php"],
      "options": {
        "parser": "php",
        "phpVersion": "8.2",
        "printWidth": 120,
        "singleQuote": true,
        "braceStyle": "1tbs"
      }
    }
  ]
}
