name: Release

on:
  push:
    tags:
      - "v*.*.*"

concurrency: build

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        include:
          - freebsd_version: FreeBSD-14.0-CURRENT
            pfsense_version: 2.7
          - freebsd_version: FreeBSD-14.0-CURRENT
            pfsense_version: 23.09
        
    steps:
      - uses: actions/checkout@v3
      - name: Setup FreeBSD build VM
        run: |
          /usr/local/bin/VBoxManage controlvm ${{ matrix.freebsd_version }} poweroff || true
          /usr/local/bin/VBoxManage snapshot ${{ matrix.freebsd_version }} restore initial
          /usr/local/bin/VBoxManage startvm ${{ matrix.freebsd_version }} --type headless
          sleep 5

      - name: Build pfSense-pkg-API on FreeBSD
        run: |
          /usr/bin/ssh -o StrictHostKeyChecking=no ${{ matrix.freebsd_version }}.jaredhendrickson.com 'sudo pkill ntpd || true && sudo ntpdate pool.ntp.org || true'
          /usr/local/bin/python3 tools/make_package.py --host ${{ matrix.freebsd_version }}.jaredhendrickson.com --branch ${{ github.sha }} --tag ${{ github.ref_name }} --filename pfSense-${{ matrix.pfsense_version }}-pkg-API.pkg

      - name: Teardown FreeBSD build VM
        if: "${{ always() }}"
        run: |
          /usr/local/bin/VBoxManage controlvm ${{ matrix.freebsd_version }} poweroff || true
          /usr/local/bin/VBoxManage snapshot ${{matrix.freebsd_version}} restore initial

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: pfSense-${{ matrix.pfsense_version }}-pkg-API.pkg
